ul.decent-comments {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
.decent-comments .comment {
  margin-bottom: 1em;
}
.decent-comments .comment img {
  margin-right: 10px;
}
.decent-comments .comment-content {
  overflow: hidden;
}
/*.decent-comments .comment-author,
.decent-comments .comment-date,
.decent-comments .comment-excerpt,
.decent-comments .comment-post-title {
  display: block;
}*/
.decent-comments .comment-date {
  font-style: italic;
}